<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./stylenav.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <ul class="nav">
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
            <li>Blog</li>
        </ul>
        <div>
            <img width="960px" src="./html-css.jpg" alt="">
        </div>

        <div class="cont">
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>
            <div class="elem">
                <div>
                    <img width="300px" src="./html-css.jpg" alt="">
                </div>
                <div>
                    <p class="tekst">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quibusdam voluptas quod nihil quos perferendis, sapiente, animi, cumque minus sit eius nam. Quod officia ducimus incidunt unde odit exercitationem ut?
                        Doloribus odio eos aperiam doloremque maiores at tempore corporis voluptatum. Saepe quidem voluptates commodi ut id velit, excepturi eligendi nihil deleniti, dicta odit mollitia. Molestiae beatae nostrum quia eum quos.</p>
                </div>
            </div>

        </div>

    </div>
</body>
</html>