<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="main" id="top">
        <div class="container">
            <img src="./moto.jpg" alt="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis, corrupti sint? Vel, veritatis
                aliquam! Officia consequatur, non quisquam corrupti excepturi repellendus est a molestias quis
                voluptatibus dolore laudantium magni sapiente.
                Tempora ducimus corrupti molestiae! Corrupti repudiandae et officiis nihil. Molestiae fuga quos qui
                obcaecati, hic ipsum explicabo enim nesciunt natus ea sequi nam repellat tempora placeat nihil delectus
                expedita optio.
                Assumenda enim earum nemo, eius eaque repellat, deserunt facere illo sapiente ratione ad perferendis quo
                alias possimus eum reiciendis iure ut repellendus minus ullam est qui. Necessitatibus dignissimos
                voluptatem fuga.
                Placeat expedita accusamus, obcaecati, earum praesentium ullam error velit repellendus magnam in vel
                doloremque consequatur ipsam fugit. Quisquam, blanditiis unde accusantium incidunt at, nostrum
                voluptates exercitationem molestiae fuga ipsum modi!
                Asperiores sunt velit ducimus veniam nam! Molestiae aspernatur, mollitia, sit, ipsam consequuntur quidem
                facere porro nobis nulla tempora laborum aperiam vel adipisci debitis! Omnis autem nesciunt facilis
                fugiat quos sit?
                Modi, nesciunt quae? Fugit aliquam expedita dolorem quia provident, corrupti reprehenderit consectetur
                facere in. Sit mollitia quam cumque quia voluptates, suscipit a eligendi libero doloremque rem
                reiciendis odio dignissimos totam!
                Est debitis ab deleniti atque tempore laudantium consequuntur maiores, fuga illo minima, tenetur labore
                quos cum assumenda cumque velit dolore exercitationem. Similique in enim excepturi voluptatem,
                asperiores quae laborum placeat?
                Ea, necessitatibus culpa. Nobis repudiandae sapiente quaerat officia labore nulla consectetur
                reiciendis, dignissimos, culpa molestiae, corporis ipsam iusto. Corporis blanditiis doloribus rem
                nostrum repudiandae temporibus quisquam vero pariatur ipsa! Culpa.
                Totam sunt quod modi ducimus labore reiciendis obcaecati, sed doloribus debitis consequatur neque
                corporis quia adipisci laudantium illum delectus exercitationem amet illo quaerat magni natus. Aliquid
                dolores culpa iusto ex.
                Rem vero explicabo in aspernatur fuga modi pariatur placeat nostrum velit accusantium nam optio incidunt
                eum quasi consequatur amet mollitia debitis, architecto aliquam quae hic voluptatibus dolorem id? Quod,
                optio?`</p>
        </div>

        <div class="cont2">
            <img src="./opo.jpg" alt="">
        </div>

        <div class="cont3">
            <img src="./one.jpg" alt="">
            <a href="#top">back to top</a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus expedita, aut odit voluptas, et
                suscipit id qui facilis doloremque veniam dolorum. Aliquam nostrum repudiandae fugit error est natus
                repellat. Atque.
                Dicta sequi alias consequatur hic dignissimos, cumque, eos quos saepe non necessitatibus ut fugit quod
                nam fugiat ullam tempore mollitia? Cumque vero dolore exercitationem eligendi animi vitae porro
                consectetur voluptatum!
                In possimus nam voluptatum, aut ullam modi necessitatibus placeat tempore aliquam distinctio voluptatem
                commodi, animi earum laboriosam. Est pariatur aut rerum eos hic architecto error, at ullam, illo,
                eligendi deserunt!
                Inventore nulla illo ullam non dolor dolore facere sit dolorem voluptatibus? Iste eos nisi, deleniti
                mollitia nulla aliquam laboriosam officia optio, obcaecati quaerat saepe soluta id nihil praesentium
                excepturi rerum.
                Quod facere est labore enim alias dolorum at perferendis ipsum voluptas, earum, sequi dolore.
                Perferendis animi ipsam tempore cumque. Earum veritatis quisquam ducimus facilis necessitatibus
                consectetur expedita quis esse distinctio?</p>

        </div>
       
        <div class="nesto">
            <div class="newcont">
                <div class="child1"></div>
                <div class="child2"></div>
                <div class="child3"></div>
            </div>
    
            <div class="newcont1">
                <div class="child4">sss</div>
                <div class="child5">aaa</div>
                <div class="child6"></div>
            </div>
    
            <div class="newcont2">
                <div class="child7"></div>
                <div class="child8"></div>
                <div class="child9"></div>
            </div>
        </div>
        
    </div>

    <div class="moj">
        nesto
    </div>
    <div>
        sdadsada
    </div>









</body>

</html>