body{
    height: 100%;
    background-image: url(./ddd.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
 
}