 .img1{
    
    text-align: right;
 }

 .sl1{
    height: 200px;
 }
 
.sl2{
    width: 200px;
    
}

.img2{
    text-align: center;
}

.img3{
    text-align: left;
}

.sl3{
    width: 200px;
    height: 200px;
}
